ion-list {
  margin-bottom: 24px;
}

ion-item {
  --padding-start: 0;
  margin-bottom: 8px;

  &.ion-invalid {
    --border-color: var(--ion-color-danger);
  }
}

ion-note {
  display: block;
  margin-bottom: 16px;
  font-size: 0.75rem;
}

ion-textarea {
  --padding-top: 8px;
  --padding-bottom: 8px;
}

.form-actions {
  margin-top: 24px;

  ion-button {
    margin-bottom: 12px;
  }
}
