<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="log-in"></ion-icon>
          Sign In
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p class="login-info">
          This is a mock login. Enter any email and password to continue.
          Use an email containing "admin" for admin access.
        </p>

        <ion-item>
          <ion-input
            type="email"
            label="Email"
            labelPlacement="stacked"
            placeholder="Enter your email"
            [(ngModel)]="email"
          >
            <ion-icon slot="start" name="person"></ion-icon>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            type="password"
            label="Password"
            labelPlacement="stacked"
            placeholder="Enter your password"
            [(ngModel)]="password"
          >
            <ion-icon slot="start" name="lock-closed"></ion-icon>
          </ion-input>
        </ion-item>

        <ion-button
          expand="block"
          (click)="login()"
          [disabled]="!email || !password || isLoading"
          class="login-button"
        >
          @if (isLoading) {
            <ion-spinner name="crescent"></ion-spinner>
          } @else {
            Login
          }
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
