
<div class="code-snippet-container">
  <!-- Header with title and copy button -->
  @if (title || copyable) {
    <div class="snippet-header">
      <div class="snippet-info">
        @if (title) {
          <h4 class="snippet-title">{{ title }}</h4>
        }
        @if (description) {
          <p class="snippet-description">{{ description }}</p>
        }
      </div>

      @if (copyable) {
        <ion-button
          fill="clear"
          size="small"
          (click)="copyCode()"
          [disabled]="copied"
        >
          <ion-icon
            [name]="copied ? 'checkmark-outline' : 'copy-outline'"
            slot="icon-only"
          ></ion-icon>
        </ion-button>
      }
    </div>
  }

  <!-- Code block with syntax highlighting -->
  <pre class="code-block"><code
    #codeElement
    [class]="'language-' + language"
  >{{ code }}</code></pre>

  <!-- Success toast -->
  <ion-toast
    [isOpen]="showToast"
    message="Code copied to clipboard!"
    duration="2000"
    position="bottom"
    color="success"
    (didDismiss)="showToast = false"
  ></ion-toast>
</div>
